APP_ENV=dev
APP_DEBUG=true
APP_HOST=0.0.0.0
PORT=8000
FRONTEND_ORIGIN=http://localhost:5500,https://your-frontend-domain.com

CDSE_CLIENT_ID=your_copernicus_client_id
CDSE_CLIENT_SECRET=your_copernicus_client_secret

# Optional override URLs
# CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
# CDSE_PROCESS_URL=https://sh.dataspace.copernicus.eu/process/v1
